body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:white;
}

/* HEADER */
.header {
  background: #f5f5f7;
  height: 150px;
  width: 350px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 5px;
}

#trash {
  height: 80px;
  width: 80px;
}

#title {
  font-size: 24px;
  font-weight: bold;
  width: 50%;
  /* padding: 5px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#subtitle {
  font-size: 14px;
  font-weight: normal;
  width: 80%;
  margin-top: 2px;
}

#toggle-view {
  margin-top: 10px;
  align-self: flex-end;
  position: absolute;
  right: 10px;
  bottom: 0px;
}

.material-icons {
  font-size: 20px;
}

i:hover {
  color: #b2b2b3;
  cursor: pointer;
}

i.active {
  color: #68b3a5;
  cursor: auto;
}

/* LIST CONTAINER */
#list-container img {
  height: 20px;
  width: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

#list-container button {
  margin-top: 15px;
  width: 100%;
  border: none;
  height: 30px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 16px;
  /* border-radius: 5px; */
  background-color: black;
  cursor: pointer;
}

#list-container h1 {
  font-weight: none;
}

/*--TO DO: fix scroll over numbers --*/
#list-container .list-tab-container {
  width: 100%;
  background: white;
  max-height: 340px;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  overflow: scroll;
}

#list-container .list-tabs {
  justify-content: stretch;
  letter-spacing: 0.05em;
}

#list-container .tab {
  border-bottom: 0.5px solid rgb(218, 218, 218);
  height: 30px;
  width: 325px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5px;
  position: relative;
  cursor: pointer;
}

#list-container .tab:hover {
  background-color: #f5f5f7;
}

#list-container .tab-name {
  cursor: pointer;
}

#list-container .tab-badge-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  color: black;
  font-weight: normal;
  border-radius: 20%;
  position: absolute;
  right: 0;
}

/* GRID CONTAINER */

#grid-container {
  background-color: white;
  width: 320px;
  border-top: 1px solid white;
}

#grid-container .grid-tab-container {
  padding: 15px;
}

#grid-container .grid-tabs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: stretch;
  grid-gap: 1.5em; 
}

#grid-container .tab-badge-icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: black solid 2px;
  /* box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px; */
  position: relative;
}

#grid-container .tab {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#grid-container .tab-badge-icon:hover {
  cursor: pointer;
  background-color: #f5f5f7;
  border: none;
}

#grid-container .num-badge { 
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 20%;
  /* box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px; */
  position: absolute;
  bottom: -10px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-weight: bold; */
  color: black;
}
