body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  height: 20px;
  width: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

button {
  margin-top: 15px;
  width: 100%;
  border: none;
  height: 30px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 16px;
  border-radius: 5px;
  background-color: #219cc0;
  cursor: pointer;
}

.header {
  background-image: url("cleaning-sm.png");
  height: 150px;
  width: 350px;
  margin-bottom: 10px;
}

.tab-container {
  width: 100%;
  background: #eaeaea;
  max-height: 400px;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  overflow: scroll;
}

.tabs {
  justify-content: stretch;
}

.tab {
  border-bottom: 0.5px solid rgb(218, 218, 218);
  height: 30px;
  width: 325px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5px;
  position: relative;
  cursor: pointer;
}

.tab:hover {
  background-color: rgb(244, 244, 244);
}

.tab-name {
  cursor: pointer;
}

.tab-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  position: absolute;
  right: 0;
}