body {
  font-family: 'Roboto', sans-serif;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}

.tab-container {
  padding: 20px;
}

.tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: stretch;
  grid-gap: 3em;
}

.tab-badge-icon {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  position: relative;
}

.close-icon {
  position: absolute;
  right: -13px;
  top: -15px;
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close-icon:hover {
  opacity: 1;
}

.close-icon:before, .close-icon:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 15px;
  width: 2px;
  background-color: white;
}

.close-icon:before {
  transform: rotate(45deg);
}

.close-icon:after {
  transform: rotate(-45deg);
}

.tab {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.num-badge { 
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  right: -7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
}
